<div class="container">

  <h1 class="info">Guide & Instructions</h1>
  <hr>
  <br>

  <h3 class="info">User Sign In and Options</h3>
  <div class="card">
    <div class="container">
      <p>
      You can sign up in the portal with a vaild email address. You are also suppose to provide your designation and the company you work.
      By default you would be assigned with a default username which you can find it on your profile view. A username is used in the portal 
      to instead of users name.</p>
    </div>
  </div>

  <hr>
  <br>

  <h3 class="info">Blogs and Posts</h3>
  <div class="card">
    <div calss="container">
      <p>User can post their queries in this section. All the posts or question by any users is dumped in this section. Users can take part 
      in answering the question of their preference.</p>
      <p>While user ask a question, it is essential that they ensure the questions clarity. Orignial poster of the question is expected to 
      well structure and proof read their posts before posting. In case of ambiguity and unclarity of the question, original poster of the event 
      may experience down vote from users and also their post being edited by moderator.</p> 
      </p>
    </div>
  </div>

  <hr>
  <br>

  <h3 class="info">Comments</h3>
  <div class="card">
    <div calss="container">
      <p>In some cases when a question is not clear, users can leverage the aspect of commenting to clarify their doubts related to the post 
      or questions. In additon, sometimes a comment can be an answer in case the original poster of the answer consider not getting score to 
      their response.</p>
    </div>
  </div>

  <hr>
  <br>

  <h3 class="info">Answers</h3>
  <div class="card">
    <div calss="container">
      <p>User can answer the post that are visibile to them. By nature some posts may not be visible to all based on the post preferences of 
      the original poster. </p>
    </div>
  </div>

  <hr>
  <br>

  <h3 class="info">Votes and Score.</h3>
  <div class="card">
    <div calss="container">
      <p>
        Users in the portal can upvote and down vote posts and answers based on the relevancy of the event. You may down cast a vote if 
        you find a post ambigous or unclear. You may up vote a post if you find it relevant. you can not vote on your own behalf 
        for any events by you.
      </p>
      <p>
        Users are expected to use the voting system based on the relevancy of an event. A vote on a post would yield 1 score to the original 
        poster. Accpeted answers would yield a <b>TEN</b> point for the user. So users may answer wisely and relevantly.
      </p>

    </div>
  </div>

  <hr>
  <br>

  <h3 class="info">User Activity</h3>
  <div class="card">
    <div calss="container">
      <p>You can draft, save your post to archive and so on by updating the post's status and visibilty. Your activites visibilty will be controlled by your 
      activity option. You are expected to respect others in th portal and also expected not to mishandle voting system as you like.</p>
      <p>
    </div>
  </div>

  <hr>
  <br>

</div>
