.d-flex{
    margin-top: 7px;
    margin-bottom: 20px;
}

.hr{
    width: 50%;
    margin-left: 25%;
}

.separator {
    display: flex;
    align-items: flex-start;
    text-align: left;
    font-size: medium;
}

.separator::before,
.separator::after{
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}

.separator:not(:empty)::before{
    margin-right: .25em;
}

.delete{ 
    margin-left: 5px;
    text-decoration: none;
    color: rgb(248, 69, 50);
}

.bottom-corner{
    margin-left: 90%;
    margin-bottom: 10px;
}

.info{
    color: grey
}

#right-div{
    padding-left: 10px;
}

#draft-post{
    padding-left: 10px;
    font-weight: bold;
    color:green
}

#archive-post{
    padding-left: 10px;
    font-weight: bold;
    color:goldenrod
}

.link {
    text-decoration: none;
}