<nav class="navbar navbar-light bg-light" style="background-color: #e3f2fd;">
  
  <div class="container">
    <div>
      <strong><%= link_to "AskAway", root_path, class:"navbar-brand" %></strong>
    </div>

<!--     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="dashboard">
      <strong><%= link_to "Blogs", posts_path, class:"navbar-brand" %></strong>
    </div>

    <% if user_signed_in? %>

      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class:"btn btn-danger"%>
      
    <% end %>
      
  </div>

</nav>